version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "numpy"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
